*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.form{
    padding: 25px;
    padding-top: 80px;
    width: 18%;
    height: 48%;
    position: absolute;
    top: 14%;
    left: 40%;
    background-color: rgba(255,255,255, 0.2);
    /* backdrop-filter: blur(5px); */
    border-radius: 10px;
    /* border: 1px solid red;  */
    color: white;
    transition: .4s ease-in-out;
}
.form input{
    outline: none;
    width: 80%;
    /* height: 35px; */
    color: white;
    background: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px;
    letter-spacing: 2px;
    transition: .2s ease-in-out;
}
.form:hover{
    backdrop-filter: blur(6px);
}
input::placeholder{
    color: white;
    opacity: 70%;
  }
#back{
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    #back{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    #back{
        width: auto;
        height: 100%;
    }
}
.btn{
    /* padding-left: 12px;
    padding-right: 12px; */
    padding: 8px 12px;
    border: 1px solid white;
    background: transparent;
    border-radius: 7px;
    margin-bottom: 8%;
    
}
.form h1{
    position: absolute;
    top: 3.5%;
    left: 23%;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 300%;
    transition: 0.4s ease-in-out;
    
}
    @keyframes hh{
        0%{
            transform: translate(0px, 0px);

        }
        30%{
            transform: translate(60px, -10px);
        }
        50%{
            transform: translate(-40px, 6px);
            font-size: 400%;

        }
        100%{
            transform: translate(0px, 0px);
        }
    }
.form h1:hover{
    animation: hh 2s linear infinite;

}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(back.png);
    background-position: center;
    background-size: cover;
    padding-left: 6%;
    padding-right: 8.5%;
    padding-top: 1%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 10%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.logo:hover{
    filter:drop-shadow(10px 3px 1px rgba(255, 0, 0));
}
#logo{
    position: absolute;
    left: 90%;
    width: 4%;
    cursor: pointer;
    margin-left: 40px;
    transition: 0.4s ease-in-out;
    


}
#logo:hover{
    filter:drop-shadow(10px 6px 1px rgb(255, 0, 0, 0.6));
    /* width: 4.3%; */
}
nav{
    flex: 1;
    text-align: right;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    transition: 0.4s ease-in-out;
}
nav ul li a:hover{
    letter-spacing: 3px;
    filter:drop-shadow(10px 5px 1px rgba(255, 0, 0));
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
.col h1{
    color: #fff;
    font-size: 100px;
    font-family: 'Major Mono Display', monospace;
    padding-bottom: 30px;
    transition: 0.4s ease-in-out;
    animation: motion 3s alternate;
    opacity: 100%;
}
@keyframes motion{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }

}

/* .col h1:hover{
    filter:drop-shadow(10px 5px 1px rgba(255, 0, 0,0.5));
} */
.col p{
    color:#fff;
    font-size:15px;
    line-height: 15px;
    margin-left: 15px;
    font-family: 'Raleway', sans-serif;
    animation: otion 2s alternate;
    opacity: 100%;
}
@keyframes otion{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }

}
.col button{
    width: 180px;
    
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 25px;
    cursor: pointer;
    letter-spacing: 3px;
    margin-left: 10px;
    transition: 0.4s ease-in-out;
    animation: tion 3.5s alternate;
    opacity: 100%;
}
@keyframes tion{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }

}
.col button:hover{
    filter:drop-shadow(7px 5px 1px rgba(255, 0, 0,0.7));
}
.col button a{
    color: #000;
}
.card{
    display: flex;
    
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    color: black;
    margin: 30px -15px;
    margin-left: 90px;
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    animation: ion 5s alternate;
    opacity: 100%;
    transition: 0.4s ease-in-out;
    filter: grayscale(100%);
}
.card:hover{
    filter: grayscale(0%);
}
.card a{
    color: black;
}

@keyframes ion{
    0%{
        opacity: 0%;
        color: transparent;
    }
    50%{
        opacity: 0%;
        color: transparent;
    }
    65%{
        color: transparent;
    }
    100%{
        opacity: 100%;
        color: black;
    }

}
.card1{
    background-image:url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/906d7250-ef5e-417d-8099-78399ef0a86f/downshifter-11-road-running-shoes-ggx1m6.png) ;
    
}

.card2{
    background-image:url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/222f5d98-bfaa-4e12-9d6c-d240757c3b9a/air-zoom-alphafly-next-flyknit-road-racing-shoes-Wd4lk6.png) ;
    
}
.card3{
    background-image:url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/7f4d349c-b950-46c4-8d0e-a0297c32e02e/zoomx-vaporfly-next-2-road-racing-shoes-J8LV0t.png) ;
    
}
.card4{
    background-image:url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/64c11c7a-c1f7-49d5-8c49-46f11e017053/zoomx-dragoy-athletics-distance-spikes-xLzd9m.png) ;
    
}
